lib/aushape.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <!-- Generic field type -->
    <xsd:complexType name="field">
        <xsd:attribute name="i" type="xsd:string" use="required"/>
        <xsd:attribute name="r" type="xsd:string"/>
    </xsd:complexType>

    <!-- All fields -->
    <xsd:element type="field" name="a"/>
    <xsd:element type="field" name="a0"/>
    <xsd:element type="field" name="a1"/>
    <xsd:element type="field" name="a2"/>
    <xsd:element type="field" name="a3"/>
    <xsd:element type="field" name="acct"/>
    <xsd:element type="field" name="acl"/>
    <xsd:element type="field" name="action"/>
    <xsd:element type="field" name="added"/>
    <xsd:element type="field" name="addr"/>
    <xsd:element type="field" name="algo"/>
    <xsd:element type="field" name="apparmor"/>
    <xsd:element type="field" name="arch"/>
    <xsd:element type="field" name="argc"/>
    <xsd:element type="field" name="audit_backlog_limit"/>
    <xsd:element type="field" name="audit_backlog_wait_time"/>
    <xsd:element type="field" name="audit_enabled"/>
    <xsd:element type="field" name="audit_failure"/>
    <xsd:element type="field" name="auid"/>
    <xsd:element type="field" name="banners"/>
    <xsd:element type="field" name="bool"/>
    <xsd:element type="field" name="bus"/>
    <xsd:element type="field" name="capability"/>
    <xsd:element type="field" name="cap_fe"/>
    <xsd:element type="field" name="cap_fi"/>
    <xsd:element type="field" name="cap_fp"/>
    <xsd:element type="field" name="cap_fver"/>
    <xsd:element type="field" name="cap_pe"/>
    <xsd:element type="field" name="cap_pi"/>
    <xsd:element type="field" name="cap_pp"/>
    <xsd:element type="field" name="category"/>
    <xsd:element type="field" name="cgroup"/>
    <xsd:element type="field" name="changed"/>
    <xsd:element type="field" name="cipher"/>
    <xsd:element type="field" name="class"/>
    <xsd:element type="field" name="cmd"/>
    <xsd:element type="field" name="code"/>
    <xsd:element type="field" name="comm"/>
    <xsd:element type="field" name="compat"/>
    <xsd:element type="field" name="cwd"/>
    <xsd:element type="field" name="daddr"/>
    <xsd:element type="field" name="data"/>
    <xsd:element type="field" name="default-context"/>
    <xsd:element type="field" name="dest"/>
    <xsd:element type="field" name="dev"/>
    <xsd:element type="field" name="device"/>
    <xsd:element type="field" name="dir"/>
    <xsd:element type="field" name="direction"/>
    <xsd:element type="field" name="dmac"/>
    <xsd:element type="field" name="dport"/>
    <xsd:element type="field" name="egid"/>
    <xsd:element type="field" name="enforcing"/>
    <xsd:element type="field" name="entries"/>
    <xsd:element type="field" name="euid"/>
    <xsd:element type="field" name="exe"/>
    <xsd:element type="field" name="exit"/>
    <xsd:element type="field" name="fam"/>
    <xsd:element type="field" name="family"/>
    <xsd:element type="field" name="fd"/>
    <xsd:element type="field" name="fe"/>
    <xsd:element type="field" name="feature"/>
    <xsd:element type="field" name="fi"/>
    <xsd:element type="field" name="file"/>
    <xsd:element type="field" name="flags"/>
    <xsd:element type="field" name="format"/>
    <xsd:element type="field" name="fp"/>
    <xsd:element type="field" name="fsgid"/>
    <xsd:element type="field" name="fsuid"/>
    <xsd:element type="field" name="fver"/>
    <xsd:element type="field" name="gid"/>
    <xsd:element type="field" name="grantors"/>
    <xsd:element type="field" name="grp"/>
    <xsd:element type="field" name="hook"/>
    <xsd:element type="field" name="hostname"/>
    <xsd:element type="field" name="icmp_type"/>
    <xsd:element type="field" name="id"/>
    <xsd:element type="field" name="igid"/>
    <xsd:element type="field" name="img-ctx"/>
    <xsd:element type="field" name="inif"/>
    <xsd:element type="field" name="ino"/>
    <xsd:element type="field" name="inode"/>
    <xsd:element type="field" name="inode_gid"/>
    <xsd:element type="field" name="inode_uid"/>
    <xsd:element type="field" name="invalid_context"/>
    <xsd:element type="field" name="ioctlcmd"/>
    <xsd:element type="field" name="ip"/>
    <xsd:element type="field" name="ipid"/>
    <xsd:element type="field" name="ipx-net"/>
    <xsd:element type="field" name="items"/>
    <xsd:element type="field" name="iuid"/>
    <xsd:element type="field" name="kernel"/>
    <xsd:element type="field" name="key"/>
    <xsd:element type="field" name="kind"/>
    <xsd:element type="field" name="ksize"/>
    <xsd:element type="field" name="laddr"/>
    <xsd:element type="field" name="len"/>
    <xsd:element type="field" name="list"/>
    <xsd:element type="field" name="lport"/>
    <xsd:element type="field" name="mac"/>
    <xsd:element type="field" name="macproto"/>
    <xsd:element type="field" name="maj"/>
    <xsd:element type="field" name="major"/>
    <xsd:element type="field" name="minor"/>
    <xsd:element type="field" name="mode"/>
    <xsd:element type="field" name="model"/>
    <xsd:element type="field" name="msg"/>
    <xsd:element type="field" name="name"/>
    <xsd:element type="field" name="nametype"/>
    <xsd:element type="field" name="nargs"/>
    <xsd:element type="field" name="net"/>
    <xsd:element type="field" name="new"/>
    <xsd:element type="field" name="new-chardev"/>
    <xsd:element type="field" name="new-disk"/>
    <xsd:element type="field" name="new-enabled"/>
    <xsd:element type="field" name="new-fs"/>
    <xsd:element type="field" name="new_gid"/>
    <xsd:element type="field" name="new-level"/>
    <xsd:element type="field" name="new_lock"/>
    <xsd:element type="field" name="new-log_passwd"/>
    <xsd:element type="field" name="new-mem"/>
    <xsd:element type="field" name="new-net"/>
    <xsd:element type="field" name="new_pe"/>
    <xsd:element type="field" name="new_pi"/>
    <xsd:element type="field" name="new_pp"/>
    <xsd:element type="field" name="new-range"/>
    <xsd:element type="field" name="new-rng"/>
    <xsd:element type="field" name="new-role"/>
    <xsd:element type="field" name="new-seuser"/>
    <xsd:element type="field" name="new-vcpu"/>
    <xsd:element type="field" name="nlnk-fam"/>
    <xsd:element type="field" name="nlnk-grp"/>
    <xsd:element type="field" name="nlnk-pid"/>
    <xsd:element type="field" name="oauid"/>
    <xsd:element type="field" name="obj"/>
    <xsd:element type="field" name="obj_gid"/>
    <xsd:element type="field" name="obj_uid"/>
    <xsd:element type="field" name="ocomm"/>
    <xsd:element type="field" name="oflag"/>
    <xsd:element type="field" name="ogid"/>
    <xsd:element type="field" name="old"/>
    <xsd:element type="field" name="old-auid"/>
    <xsd:element type="field" name="old-chardev"/>
    <xsd:element type="field" name="old-disk"/>
    <xsd:element type="field" name="old-enabled"/>
    <xsd:element type="field" name="old_enforcing"/>
    <xsd:element type="field" name="old-fs"/>
    <xsd:element type="field" name="old-level"/>
    <xsd:element type="field" name="old_lock"/>
    <xsd:element type="field" name="old-log_passwd"/>
    <xsd:element type="field" name="old-mem"/>
    <xsd:element type="field" name="old-net"/>
    <xsd:element type="field" name="old_pe"/>
    <xsd:element type="field" name="old_pi"/>
    <xsd:element type="field" name="old_pp"/>
    <xsd:element type="field" name="old_prom"/>
    <xsd:element type="field" name="old-range"/>
    <xsd:element type="field" name="old-rng"/>
    <xsd:element type="field" name="old-role"/>
    <xsd:element type="field" name="old-ses"/>
    <xsd:element type="field" name="old-seuser"/>
    <xsd:element type="field" name="old_val"/>
    <xsd:element type="field" name="old-vcpu"/>
    <xsd:element type="field" name="op"/>
    <xsd:element type="field" name="opid"/>
    <xsd:element type="field" name="oses"/>
    <xsd:element type="field" name="ouid"/>
    <xsd:element type="field" name="outif"/>
    <xsd:element type="field" name="parent"/>
    <xsd:element type="field" name="path"/>
    <xsd:element type="field" name="per"/>
    <xsd:element type="field" name="perm"/>
    <xsd:element type="field" name="permissive"/>
    <xsd:element type="field" name="perm_mask"/>
    <xsd:element type="field" name="pfs"/>
    <xsd:element type="field" name="pid"/>
    <xsd:element type="field" name="ppid"/>
    <xsd:element type="field" name="printer"/>
    <xsd:element type="field" name="proctitle"/>
    <xsd:element type="field" name="prom"/>
    <xsd:element type="field" name="proto"/>
    <xsd:element type="field" name="qbytes"/>
    <xsd:element type="field" name="range"/>
    <xsd:element type="field" name="rdev"/>
    <xsd:element type="field" name="reason"/>
    <xsd:element type="field" name="removed"/>
    <xsd:element type="field" name="res"/>
    <xsd:element type="field" name="resrc"/>
    <xsd:element type="field" name="result"/>
    <xsd:element type="field" name="role"/>
    <xsd:element type="field" name="rport"/>
    <xsd:element type="field" name="saddr"/>
    <xsd:element type="field" name="sauid"/>
    <xsd:element type="field" name="scontext"/>
    <xsd:element type="field" name="selected-context"/>
    <xsd:element type="field" name="seperm"/>
    <xsd:element type="field" name="seperms"/>
    <xsd:element type="field" name="seqno"/>
    <xsd:element type="field" name="seresult"/>
    <xsd:element type="field" name="ses"/>
    <xsd:element type="field" name="seuser"/>
    <xsd:element type="field" name="sgid"/>
    <xsd:element type="field" name="sig"/>
    <xsd:element type="field" name="sigev_signo"/>
    <xsd:element type="field" name="size"/>
    <xsd:element type="field" name="smac"/>
    <xsd:element type="field" name="spid"/>
    <xsd:element type="field" name="sport"/>
    <xsd:element type="field" name="state"/>
    <xsd:element type="field" name="subj"/>
    <xsd:element type="field" name="success"/>
    <xsd:element type="field" name="suid"/>
    <xsd:element type="field" name="syscall"/>
    <xsd:element type="field" name="table"/>
    <xsd:element type="field" name="tclass"/>
    <xsd:element type="field" name="tcontext"/>
    <xsd:element type="field" name="terminal"/>
    <xsd:element type="field" name="tty"/>
    <xsd:element type="field" name="type"/>
    <xsd:element type="field" name="uid"/>
    <xsd:element type="field" name="unit"/>
    <xsd:element type="field" name="uri"/>
    <xsd:element type="field" name="user"/>
    <xsd:element type="field" name="uuid"/>
    <xsd:element type="field" name="val"/>
    <xsd:element type="field" name="ver"/>
    <xsd:element type="field" name="virt"/>
    <xsd:element type="field" name="vm"/>
    <xsd:element type="field" name="vm-ctx"/>
    <xsd:element type="field" name="vm-pid"/>
    <xsd:element type="field" name="watch"/>

    <!-- Generic fields -->
    <xsd:group name="generic_fields">
        <xsd:choice>
            <xsd:element ref="a0"/>
            <xsd:element ref="a1"/>
            <xsd:element ref="a2"/>
            <xsd:element ref="a3"/>
            <xsd:element ref="acct"/>
            <xsd:element ref="acl"/>
            <xsd:element ref="action"/>
            <xsd:element ref="added"/>
            <xsd:element ref="addr"/>
            <xsd:element ref="algo"/>
            <xsd:element ref="apparmor"/>
            <xsd:element ref="arch"/>
            <xsd:element ref="argc"/>
            <xsd:element ref="audit_backlog_limit"/>
            <xsd:element ref="audit_backlog_wait_time"/>
            <xsd:element ref="audit_enabled"/>
            <xsd:element ref="audit_failure"/>
            <xsd:element ref="auid"/>
            <xsd:element ref="banners"/>
            <xsd:element ref="bool"/>
            <xsd:element ref="bus"/>
            <xsd:element ref="capability"/>
            <xsd:element ref="cap_fe"/>
            <xsd:element ref="cap_fi"/>
            <xsd:element ref="cap_fp"/>
            <xsd:element ref="cap_fver"/>
            <xsd:element ref="cap_pe"/>
            <xsd:element ref="cap_pi"/>
            <xsd:element ref="cap_pp"/>
            <xsd:element ref="category"/>
            <xsd:element ref="cgroup"/>
            <xsd:element ref="changed"/>
            <xsd:element ref="cipher"/>
            <xsd:element ref="class"/>
            <xsd:element ref="cmd"/>
            <xsd:element ref="code"/>
            <xsd:element ref="comm"/>
            <xsd:element ref="compat"/>
            <xsd:element ref="cwd"/>
            <xsd:element ref="daddr"/>
            <xsd:element ref="data"/>
            <xsd:element ref="default-context"/>
            <xsd:element ref="dest"/>
            <xsd:element ref="dev"/>
            <xsd:element ref="device"/>
            <xsd:element ref="dir"/>
            <xsd:element ref="direction"/>
            <xsd:element ref="dmac"/>
            <xsd:element ref="dport"/>
            <xsd:element ref="egid"/>
            <xsd:element ref="enforcing"/>
            <xsd:element ref="entries"/>
            <xsd:element ref="euid"/>
            <xsd:element ref="exe"/>
            <xsd:element ref="exit"/>
            <xsd:element ref="fam"/>
            <xsd:element ref="family"/>
            <xsd:element ref="fd"/>
            <xsd:element ref="fe"/>
            <xsd:element ref="feature"/>
            <xsd:element ref="fi"/>
            <xsd:element ref="file"/>
            <xsd:element ref="flags"/>
            <xsd:element ref="format"/>
            <xsd:element ref="fp"/>
            <xsd:element ref="fsgid"/>
            <xsd:element ref="fsuid"/>
            <xsd:element ref="fver"/>
            <xsd:element ref="gid"/>
            <xsd:element ref="grantors"/>
            <xsd:element ref="grp"/>
            <xsd:element ref="hook"/>
            <xsd:element ref="hostname"/>
            <xsd:element ref="icmp_type"/>
            <xsd:element ref="id"/>
            <xsd:element ref="igid"/>
            <xsd:element ref="img-ctx"/>
            <xsd:element ref="inif"/>
            <xsd:element ref="ino"/>
            <xsd:element ref="inode"/>
            <xsd:element ref="inode_gid"/>
            <xsd:element ref="inode_uid"/>
            <xsd:element ref="invalid_context"/>
            <xsd:element ref="ioctlcmd"/>
            <xsd:element ref="ip"/>
            <xsd:element ref="ipid"/>
            <xsd:element ref="ipx-net"/>
            <xsd:element ref="items"/>
            <xsd:element ref="iuid"/>
            <xsd:element ref="kernel"/>
            <xsd:element ref="key"/>
            <xsd:element ref="kind"/>
            <xsd:element ref="ksize"/>
            <xsd:element ref="laddr"/>
            <xsd:element ref="len"/>
            <xsd:element ref="list"/>
            <xsd:element ref="lport"/>
            <xsd:element ref="mac"/>
            <xsd:element ref="macproto"/>
            <xsd:element ref="maj"/>
            <xsd:element ref="major"/>
            <xsd:element ref="minor"/>
            <xsd:element ref="mode"/>
            <xsd:element ref="model"/>
            <xsd:element ref="msg"/>
            <xsd:element ref="name"/>
            <xsd:element ref="nametype"/>
            <xsd:element ref="nargs"/>
            <xsd:element ref="net"/>
            <xsd:element ref="new"/>
            <xsd:element ref="new-chardev"/>
            <xsd:element ref="new-disk"/>
            <xsd:element ref="new-enabled"/>
            <xsd:element ref="new-fs"/>
            <xsd:element ref="new_gid"/>
            <xsd:element ref="new-level"/>
            <xsd:element ref="new_lock"/>
            <xsd:element ref="new-log_passwd"/>
            <xsd:element ref="new-mem"/>
            <xsd:element ref="new-net"/>
            <xsd:element ref="new_pe"/>
            <xsd:element ref="new_pi"/>
            <xsd:element ref="new_pp"/>
            <xsd:element ref="new-range"/>
            <xsd:element ref="new-rng"/>
            <xsd:element ref="new-role"/>
            <xsd:element ref="new-seuser"/>
            <xsd:element ref="new-vcpu"/>
            <xsd:element ref="nlnk-fam"/>
            <xsd:element ref="nlnk-grp"/>
            <xsd:element ref="nlnk-pid"/>
            <xsd:element ref="oauid"/>
            <xsd:element ref="obj"/>
            <xsd:element ref="obj_gid"/>
            <xsd:element ref="obj_uid"/>
            <xsd:element ref="ocomm"/>
            <xsd:element ref="oflag"/>
            <xsd:element ref="ogid"/>
            <xsd:element ref="old"/>
            <xsd:element ref="old-auid"/>
            <xsd:element ref="old-chardev"/>
            <xsd:element ref="old-disk"/>
            <xsd:element ref="old-enabled"/>
            <xsd:element ref="old_enforcing"/>
            <xsd:element ref="old-fs"/>
            <xsd:element ref="old-level"/>
            <xsd:element ref="old_lock"/>
            <xsd:element ref="old-log_passwd"/>
            <xsd:element ref="old-mem"/>
            <xsd:element ref="old-net"/>
            <xsd:element ref="old_pe"/>
            <xsd:element ref="old_pi"/>
            <xsd:element ref="old_pp"/>
            <xsd:element ref="old_prom"/>
            <xsd:element ref="old-range"/>
            <xsd:element ref="old-rng"/>
            <xsd:element ref="old-role"/>
            <xsd:element ref="old-ses"/>
            <xsd:element ref="old-seuser"/>
            <xsd:element ref="old_val"/>
            <xsd:element ref="old-vcpu"/>
            <xsd:element ref="op"/>
            <xsd:element ref="opid"/>
            <xsd:element ref="oses"/>
            <xsd:element ref="ouid"/>
            <xsd:element ref="outif"/>
            <xsd:element ref="parent"/>
            <xsd:element ref="path"/>
            <xsd:element ref="per"/>
            <xsd:element ref="perm"/>
            <xsd:element ref="permissive"/>
            <xsd:element ref="perm_mask"/>
            <xsd:element ref="pfs"/>
            <xsd:element ref="pid"/>
            <xsd:element ref="ppid"/>
            <xsd:element ref="printer"/>
            <xsd:element ref="proctitle"/>
            <xsd:element ref="prom"/>
            <xsd:element ref="proto"/>
            <xsd:element ref="qbytes"/>
            <xsd:element ref="range"/>
            <xsd:element ref="rdev"/>
            <xsd:element ref="reason"/>
            <xsd:element ref="removed"/>
            <xsd:element ref="res"/>
            <xsd:element ref="resrc"/>
            <xsd:element ref="result"/>
            <xsd:element ref="role"/>
            <xsd:element ref="rport"/>
            <xsd:element ref="saddr"/>
            <xsd:element ref="sauid"/>
            <xsd:element ref="scontext"/>
            <xsd:element ref="selected-context"/>
            <xsd:element ref="seperm"/>
            <xsd:element ref="seperms"/>
            <xsd:element ref="seqno"/>
            <xsd:element ref="seresult"/>
            <xsd:element ref="ses"/>
            <xsd:element ref="seuser"/>
            <xsd:element ref="sgid"/>
            <xsd:element ref="sig"/>
            <xsd:element ref="sigev_signo"/>
            <xsd:element ref="size"/>
            <xsd:element ref="smac"/>
            <xsd:element ref="spid"/>
            <xsd:element ref="sport"/>
            <xsd:element ref="state"/>
            <xsd:element ref="subj"/>
            <xsd:element ref="success"/>
            <xsd:element ref="suid"/>
            <xsd:element ref="syscall"/>
            <xsd:element ref="table"/>
            <xsd:element ref="tclass"/>
            <xsd:element ref="tcontext"/>
            <xsd:element ref="terminal"/>
            <xsd:element ref="tty"/>
            <xsd:element ref="type"/>
            <xsd:element ref="uid"/>
            <xsd:element ref="unit"/>
            <xsd:element ref="uri"/>
            <xsd:element ref="user"/>
            <xsd:element ref="uuid"/>
            <xsd:element ref="val"/>
            <xsd:element ref="ver"/>
            <xsd:element ref="virt"/>
            <xsd:element ref="vm"/>
            <xsd:element ref="vm-ctx"/>
            <xsd:element ref="vm-pid"/>
            <xsd:element ref="watch"/>
        </xsd:choice>
    </xsd:group>

    <!-- Single record type -->
    <xsd:complexType name="single_record">
        <xsd:sequence>
            <xsd:group ref="generic_fields" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- Repeated record type -->
    <xsd:complexType name="repeated_record">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="generic_fields"
                                   minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- Execve record type -->
    <xsd:complexType name="execve_record">
        <xsd:sequence>
            <xsd:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- All records -->
    <xsd:group name="records">
        <xsd:choice>
            <xsd:element type="single_record"       name="user"/>
            <xsd:element type="single_record"       name="login"/>
            <xsd:element type="single_record"       name="user_auth"/>
            <xsd:element type="single_record"       name="user_acct"/>
            <xsd:element type="single_record"       name="user_mgmt"/>
            <xsd:element type="single_record"       name="cred_acq"/>
            <xsd:element type="single_record"       name="cred_disp"/>
            <xsd:element type="single_record"       name="user_start"/>
            <xsd:element type="single_record"       name="user_end"/>
            <xsd:element type="single_record"       name="user_avc"/>
            <xsd:element type="single_record"       name="user_chauthtok"/>
            <xsd:element type="single_record"       name="user_err"/>
            <xsd:element type="single_record"       name="cred_refr"/>
            <xsd:element type="single_record"       name="usys_config"/>
            <xsd:element type="single_record"       name="user_login"/>
            <xsd:element type="single_record"       name="user_logout"/>
            <xsd:element type="single_record"       name="add_user"/>
            <xsd:element type="single_record"       name="del_user"/>
            <xsd:element type="single_record"       name="add_group"/>
            <xsd:element type="single_record"       name="del_group"/>
            <xsd:element type="single_record"       name="dac_check"/>
            <xsd:element type="single_record"       name="chgrp_id"/>
            <xsd:element type="single_record"       name="test"/>
            <xsd:element type="single_record"       name="trusted_app"/>
            <xsd:element type="single_record"       name="user_selinux_err"/>
            <xsd:element type="single_record"       name="user_cmd"/>
            <xsd:element type="single_record"       name="user_tty"/>
            <xsd:element type="single_record"       name="chuser_id"/>
            <xsd:element type="single_record"       name="grp_auth"/>
            <xsd:element type="single_record"       name="mac_check"/>
            <xsd:element type="single_record"       name="acct_lock"/>
            <xsd:element type="single_record"       name="acct_unlock"/>
            <xsd:element type="single_record"       name="system_boot"/>
            <xsd:element type="single_record"       name="system_shutdown"/>
            <xsd:element type="single_record"       name="system_runlevel"/>
            <xsd:element type="single_record"       name="service_start"/>
            <xsd:element type="single_record"       name="service_stop"/>
            <xsd:element type="single_record"       name="grp_mgmt"/>
            <xsd:element type="single_record"       name="grp_chauthtok"/>
            <xsd:element type="single_record"       name="daemon_start"/>
            <xsd:element type="single_record"       name="daemon_end"/>
            <xsd:element type="single_record"       name="daemon_abort"/>
            <xsd:element type="single_record"       name="daemon_config"/>
            <xsd:element type="single_record"       name="daemon_rotate"/>
            <xsd:element type="single_record"       name="daemon_resume"/>
            <xsd:element type="single_record"       name="daemon_accept"/>
            <xsd:element type="single_record"       name="daemon_close"/>
            <xsd:element type="single_record"       name="daemon_err"/>
            <xsd:element type="single_record"       name="syscall"/>
            <xsd:element type="repeated_record"     name="path"/>
            <xsd:element type="single_record"       name="ipc"/>
            <xsd:element type="single_record"       name="socketcall"/>
            <xsd:element type="single_record"       name="config_change"/>
            <xsd:element type="single_record"       name="sockaddr"/>
            <xsd:element type="single_record"       name="cwd"/>
            <xsd:element type="execve_record"       name="execve"/>
            <xsd:element type="single_record"       name="ipc_set_perm"/>
            <xsd:element type="single_record"       name="mq_open"/>
            <xsd:element type="single_record"       name="mq_sendrecv"/>
            <xsd:element type="single_record"       name="mq_notify"/>
            <xsd:element type="single_record"       name="mq_getsetattr"/>
            <xsd:element type="single_record"       name="kernel_other"/>
            <xsd:element type="single_record"       name="fd_pair"/>
            <xsd:element type="repeated_record"     name="obj_pid"/>
            <xsd:element type="single_record"       name="tty"/>
            <xsd:element type="single_record"       name="eoe"/>
            <xsd:element type="single_record"       name="bprm_fcaps"/>
            <xsd:element type="single_record"       name="capset"/>
            <xsd:element type="single_record"       name="mmap"/>
            <xsd:element type="single_record"       name="netfilter_pkt"/>
            <xsd:element type="single_record"       name="netfilter_cfg"/>
            <xsd:element type="single_record"       name="seccomp"/>
            <xsd:element type="single_record"       name="proctitle"/>
            <xsd:element type="single_record"       name="feature_change"/>
            <xsd:element type="single_record"       name="avc"/>
            <xsd:element type="single_record"       name="selinux_err"/>
            <xsd:element type="single_record"       name="avc_path"/>
            <xsd:element type="single_record"       name="mac_policy_load"/>
            <xsd:element type="single_record"       name="mac_status"/>
            <xsd:element type="single_record"       name="mac_config_change"/>
            <xsd:element type="single_record"       name="mac_unlbl_allow"/>
            <xsd:element type="single_record"       name="mac_cipsov4_add"/>
            <xsd:element type="single_record"       name="mac_cipsov4_del"/>
            <xsd:element type="single_record"       name="mac_map_add"/>
            <xsd:element type="single_record"       name="mac_map_del"/>
            <xsd:element type="single_record"       name="mac_ipsec_addsa"/>
            <xsd:element type="single_record"       name="mac_ipsec_delsa"/>
            <xsd:element type="single_record"       name="mac_ipsec_addspd"/>
            <xsd:element type="single_record"       name="mac_ipsec_delspd"/>
            <xsd:element type="single_record"       name="mac_ipsec_event"/>
            <xsd:element type="single_record"       name="mac_unlbl_stcadd"/>
            <xsd:element type="single_record"       name="mac_unlbl_stcdel"/>
            <xsd:element type="single_record"       name="anom_promiscuous"/>
            <xsd:element type="single_record"       name="anom_abend"/>
            <xsd:element type="single_record"       name="anom_link"/>
            <xsd:element type="single_record"       name="integrity_data"/>
            <xsd:element type="single_record"       name="integrity_metadata"/>
            <xsd:element type="single_record"       name="integrity_status"/>
            <xsd:element type="single_record"       name="integrity_hash"/>
            <xsd:element type="single_record"       name="integrity_pcr"/>
            <xsd:element type="single_record"       name="integrity_rule"/>
            <xsd:element type="single_record"       name="apparmor"/>
            <xsd:element type="single_record"       name="apparmor_audit"/>
            <xsd:element type="single_record"       name="apparmor_allowed"/>
            <xsd:element type="single_record"       name="apparmor_denied"/>
            <xsd:element type="single_record"       name="apparmor_hint"/>
            <xsd:element type="single_record"       name="apparmor_status"/>
            <xsd:element type="single_record"       name="apparmor_error"/>
            <xsd:element type="single_record"       name="kernel"/>
            <xsd:element type="single_record"       name="anom_login_failures"/>
            <xsd:element type="single_record"       name="anom_login_time"/>
            <xsd:element type="single_record"       name="anom_login_sessions"/>
            <xsd:element type="single_record"       name="anom_login_acct"/>
            <xsd:element type="single_record"       name="anom_login_location"/>
            <xsd:element type="single_record"       name="anom_max_dac"/>
            <xsd:element type="single_record"       name="anom_max_mac"/>
            <xsd:element type="single_record"       name="anom_amtu_fail"/>
            <xsd:element type="single_record"       name="anom_rbac_fail"/>
            <xsd:element type="single_record"       name="anom_rbac_integrity_fail"/>
            <xsd:element type="single_record"       name="anom_crypto_fail"/>
            <xsd:element type="single_record"       name="anom_access_fs"/>
            <xsd:element type="single_record"       name="anom_exec"/>
            <xsd:element type="single_record"       name="anom_mk_exec"/>
            <xsd:element type="single_record"       name="anom_add_acct"/>
            <xsd:element type="single_record"       name="anom_del_acct"/>
            <xsd:element type="single_record"       name="anom_mod_acct"/>
            <xsd:element type="single_record"       name="anom_root_trans"/>
            <xsd:element type="single_record"       name="resp_anomaly"/>
            <xsd:element type="single_record"       name="resp_alert"/>
            <xsd:element type="single_record"       name="resp_kill_proc"/>
            <xsd:element type="single_record"       name="resp_term_access"/>
            <xsd:element type="single_record"       name="resp_acct_remote"/>
            <xsd:element type="single_record"       name="resp_acct_lock_timed"/>
            <xsd:element type="single_record"       name="resp_acct_unlock_timed"/>
            <xsd:element type="single_record"       name="resp_acct_lock"/>
            <xsd:element type="single_record"       name="resp_term_lock"/>
            <xsd:element type="single_record"       name="resp_sebool"/>
            <xsd:element type="single_record"       name="resp_exec"/>
            <xsd:element type="single_record"       name="resp_single"/>
            <xsd:element type="single_record"       name="resp_halt"/>
            <xsd:element type="single_record"       name="user_role_change"/>
            <xsd:element type="single_record"       name="role_assign"/>
            <xsd:element type="single_record"       name="role_remove"/>
            <xsd:element type="single_record"       name="label_override"/>
            <xsd:element type="single_record"       name="label_level_change"/>
            <xsd:element type="single_record"       name="user_labeled_export"/>
            <xsd:element type="single_record"       name="user_unlabeled_export"/>
            <xsd:element type="single_record"       name="dev_alloc"/>
            <xsd:element type="single_record"       name="dev_dealloc"/>
            <xsd:element type="single_record"       name="fs_relabel"/>
            <xsd:element type="single_record"       name="user_mac_policy_load"/>
            <xsd:element type="single_record"       name="role_modify"/>
            <xsd:element type="single_record"       name="user_mac_config_change"/>
            <xsd:element type="single_record"       name="crypto_test_user"/>
            <xsd:element type="single_record"       name="crypto_param_change_user"/>
            <xsd:element type="single_record"       name="crypto_login"/>
            <xsd:element type="single_record"       name="crypto_logout"/>
            <xsd:element type="single_record"       name="crypto_key_user"/>
            <xsd:element type="single_record"       name="crypto_failure_user"/>
            <xsd:element type="single_record"       name="crypto_replay_user"/>
            <xsd:element type="single_record"       name="crypto_session"/>
            <xsd:element type="single_record"       name="crypto_ike_sa"/>
            <xsd:element type="single_record"       name="crypto_ipsec_sa"/>
            <xsd:element type="single_record"       name="virt_control"/>
            <xsd:element type="single_record"       name="virt_resource"/>
            <xsd:element type="single_record"       name="virt_machine_id"/>
        </xsd:choice>
    </xsd:group>

    <!-- Event -->
    <xsd:simpleType name="serial">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="event">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:group ref="records"
                           minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="serial" type="serial" use="required"/>
            <xsd:attribute name="time" type="xsd:dateTime" use="required"/>
            <xsd:attribute name="host"/>
        </xsd:complexType>
    </xsd:element>

    <!-- Log -->
    <xsd:element name="log">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="event"
                             minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
