lib/aushape.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    <!-- Generic field type -->
    <xsd:complexType name="field">
        <xsd:attribute name="i" type="xsd:string" use="required"/>
        <xsd:attribute name="r" type="xsd:string"/>
    </xsd:complexType>

    <!-- All fields -->
    <xsd:element type="field" name="a"/>
    <xsd:element type="field" name="a0"/>
    <xsd:element type="field" name="a1"/>
    <xsd:element type="field" name="a2"/>
    <xsd:element type="field" name="a3"/>
    <xsd:element type="field" name="acct"/>
    <xsd:element type="field" name="acl"/>
    <xsd:element type="field" name="action"/>
    <xsd:element type="field" name="added"/>
    <xsd:element type="field" name="addr"/>
    <xsd:element type="field" name="algo"/>
    <xsd:element type="field" name="apparmor"/>
    <xsd:element type="field" name="arch"/>
    <xsd:element type="field" name="argc"/>
    <xsd:element type="field" name="audit_backlog_limit"/>
    <xsd:element type="field" name="audit_backlog_wait_time"/>
    <xsd:element type="field" name="audit_enabled"/>
    <xsd:element type="field" name="audit_failure"/>
    <xsd:element type="field" name="auid"/>
    <xsd:element type="field" name="banners"/>
    <xsd:element type="field" name="bool"/>
    <xsd:element type="field" name="bus"/>
    <xsd:element type="field" name="capability"/>
    <xsd:element type="field" name="cap_fe"/>
    <xsd:element type="field" name="cap_fi"/>
    <xsd:element type="field" name="cap_fp"/>
    <xsd:element type="field" name="cap_fver"/>
    <xsd:element type="field" name="cap_pe"/>
    <xsd:element type="field" name="cap_pi"/>
    <xsd:element type="field" name="cap_pp"/>
    <xsd:element type="field" name="category"/>
    <xsd:element type="field" name="cgroup"/>
    <xsd:element type="field" name="changed"/>
    <xsd:element type="field" name="cipher"/>
    <xsd:element type="field" name="class"/>
    <xsd:element type="field" name="cmd"/>
    <xsd:element type="field" name="code"/>
    <xsd:element type="field" name="comm"/>
    <xsd:element type="field" name="compat"/>
    <xsd:element type="field" name="cwd"/>
    <xsd:element type="field" name="daddr"/>
    <xsd:element type="field" name="data"/>
    <xsd:element type="field" name="default-context"/>
    <xsd:element type="field" name="dest"/>
    <xsd:element type="field" name="dev"/>
    <xsd:element type="field" name="device"/>
    <xsd:element type="field" name="dir"/>
    <xsd:element type="field" name="direction"/>
    <xsd:element type="field" name="dmac"/>
    <xsd:element type="field" name="dport"/>
    <xsd:element type="field" name="egid"/>
    <xsd:element type="field" name="enforcing"/>
    <xsd:element type="field" name="entries"/>
    <xsd:element type="field" name="euid"/>
    <xsd:element type="field" name="exe"/>
    <xsd:element type="field" name="exit"/>
    <xsd:element type="field" name="fam"/>
    <xsd:element type="field" name="family"/>
    <xsd:element type="field" name="fd"/>
    <xsd:element type="field" name="fe"/>
    <xsd:element type="field" name="feature"/>
    <xsd:element type="field" name="fi"/>
    <xsd:element type="field" name="file"/>
    <xsd:element type="field" name="flags"/>
    <xsd:element type="field" name="format"/>
    <xsd:element type="field" name="fp"/>
    <xsd:element type="field" name="fsgid"/>
    <xsd:element type="field" name="fsuid"/>
    <xsd:element type="field" name="fver"/>
    <xsd:element type="field" name="gid"/>
    <xsd:element type="field" name="grantors"/>
    <xsd:element type="field" name="grp"/>
    <xsd:element type="field" name="hook"/>
    <xsd:element type="field" name="hostname"/>
    <xsd:element type="field" name="icmp_type"/>
    <xsd:element type="field" name="id"/>
    <xsd:element type="field" name="igid"/>
    <xsd:element type="field" name="img-ctx"/>
    <xsd:element type="field" name="inif"/>
    <xsd:element type="field" name="ino"/>
    <xsd:element type="field" name="inode"/>
    <xsd:element type="field" name="inode_gid"/>
    <xsd:element type="field" name="inode_uid"/>
    <xsd:element type="field" name="invalid_context"/>
    <xsd:element type="field" name="ioctlcmd"/>
    <xsd:element type="field" name="ip"/>
    <xsd:element type="field" name="ipid"/>
    <xsd:element type="field" name="ipx-net"/>
    <xsd:element type="field" name="items"/>
    <xsd:element type="field" name="iuid"/>
    <xsd:element type="field" name="kernel"/>
    <xsd:element type="field" name="key"/>
    <xsd:element type="field" name="kind"/>
    <xsd:element type="field" name="ksize"/>
    <xsd:element type="field" name="laddr"/>
    <xsd:element type="field" name="len"/>
    <xsd:element type="field" name="list"/>
    <xsd:element type="field" name="lport"/>
    <xsd:element type="field" name="mac"/>
    <xsd:element type="field" name="macproto"/>
    <xsd:element type="field" name="maj"/>
    <xsd:element type="field" name="major"/>
    <xsd:element type="field" name="minor"/>
    <xsd:element type="field" name="mode"/>
    <xsd:element type="field" name="model"/>
    <xsd:element type="field" name="msg"/>
    <xsd:element type="field" name="name"/>
    <xsd:element type="field" name="nametype"/>
    <xsd:element type="field" name="nargs"/>
    <xsd:element type="field" name="net"/>
    <xsd:element type="field" name="new"/>
    <xsd:element type="field" name="new-chardev"/>
    <xsd:element type="field" name="new-disk"/>
    <xsd:element type="field" name="new-enabled"/>
    <xsd:element type="field" name="new-fs"/>
    <xsd:element type="field" name="new_gid"/>
    <xsd:element type="field" name="new-level"/>
    <xsd:element type="field" name="new_lock"/>
    <xsd:element type="field" name="new-log_passwd"/>
    <xsd:element type="field" name="new-mem"/>
    <xsd:element type="field" name="new-net"/>
    <xsd:element type="field" name="new_pe"/>
    <xsd:element type="field" name="new_pi"/>
    <xsd:element type="field" name="new_pp"/>
    <xsd:element type="field" name="new-range"/>
    <xsd:element type="field" name="new-rng"/>
    <xsd:element type="field" name="new-role"/>
    <xsd:element type="field" name="new-seuser"/>
    <xsd:element type="field" name="new-vcpu"/>
    <xsd:element type="field" name="nlnk-fam"/>
    <xsd:element type="field" name="nlnk-grp"/>
    <xsd:element type="field" name="nlnk-pid"/>
    <xsd:element type="field" name="oauid"/>
    <xsd:element type="field" name="obj"/>
    <xsd:element type="field" name="obj_gid"/>
    <xsd:element type="field" name="obj_uid"/>
    <xsd:element type="field" name="ocomm"/>
    <xsd:element type="field" name="oflag"/>
    <xsd:element type="field" name="ogid"/>
    <xsd:element type="field" name="old"/>
    <xsd:element type="field" name="old-auid"/>
    <xsd:element type="field" name="old-chardev"/>
    <xsd:element type="field" name="old-disk"/>
    <xsd:element type="field" name="old-enabled"/>
    <xsd:element type="field" name="old_enforcing"/>
    <xsd:element type="field" name="old-fs"/>
    <xsd:element type="field" name="old-level"/>
    <xsd:element type="field" name="old_lock"/>
    <xsd:element type="field" name="old-log_passwd"/>
    <xsd:element type="field" name="old-mem"/>
    <xsd:element type="field" name="old-net"/>
    <xsd:element type="field" name="old_pe"/>
    <xsd:element type="field" name="old_pi"/>
    <xsd:element type="field" name="old_pp"/>
    <xsd:element type="field" name="old_prom"/>
    <xsd:element type="field" name="old-range"/>
    <xsd:element type="field" name="old-rng"/>
    <xsd:element type="field" name="old-role"/>
    <xsd:element type="field" name="old-ses"/>
    <xsd:element type="field" name="old-seuser"/>
    <xsd:element type="field" name="old_val"/>
    <xsd:element type="field" name="old-vcpu"/>
    <xsd:element type="field" name="op"/>
    <xsd:element type="field" name="opid"/>
    <xsd:element type="field" name="oses"/>
    <xsd:element type="field" name="ouid"/>
    <xsd:element type="field" name="outif"/>
    <xsd:element type="field" name="parent"/>
    <xsd:element type="field" name="path"/>
    <xsd:element type="field" name="per"/>
    <xsd:element type="field" name="perm"/>
    <xsd:element type="field" name="permissive"/>
    <xsd:element type="field" name="perm_mask"/>
    <xsd:element type="field" name="pfs"/>
    <xsd:element type="field" name="pid"/>
    <xsd:element type="field" name="ppid"/>
    <xsd:element type="field" name="printer"/>
    <xsd:element type="field" name="proctitle"/>
    <xsd:element type="field" name="prom"/>
    <xsd:element type="field" name="proto"/>
    <xsd:element type="field" name="qbytes"/>
    <xsd:element type="field" name="range"/>
    <xsd:element type="field" name="rdev"/>
    <xsd:element type="field" name="reason"/>
    <xsd:element type="field" name="removed"/>
    <xsd:element type="field" name="res"/>
    <xsd:element type="field" name="resrc"/>
    <xsd:element type="field" name="result"/>
    <xsd:element type="field" name="role"/>
    <xsd:element type="field" name="rport"/>
    <xsd:element type="field" name="saddr"/>
    <xsd:element type="field" name="sauid"/>
    <xsd:element type="field" name="scontext"/>
    <xsd:element type="field" name="selected-context"/>
    <xsd:element type="field" name="seperm"/>
    <xsd:element type="field" name="seperms"/>
    <xsd:element type="field" name="seqno"/>
    <xsd:element type="field" name="seresult"/>
    <xsd:element type="field" name="ses"/>
    <xsd:element type="field" name="seuser"/>
    <xsd:element type="field" name="sgid"/>
    <xsd:element type="field" name="sig"/>
    <xsd:element type="field" name="sigev_signo"/>
    <xsd:element type="field" name="size"/>
    <xsd:element type="field" name="smac"/>
    <xsd:element type="field" name="spid"/>
    <xsd:element type="field" name="sport"/>
    <xsd:element type="field" name="state"/>
    <xsd:element type="field" name="subj"/>
    <xsd:element type="field" name="success"/>
    <xsd:element type="field" name="suid"/>
    <xsd:element type="field" name="syscall"/>
    <xsd:element type="field" name="table"/>
    <xsd:element type="field" name="tclass"/>
    <xsd:element type="field" name="tcontext"/>
    <xsd:element type="field" name="terminal"/>
    <xsd:element type="field" name="tty"/>
    <xsd:element type="field" name="type"/>
    <xsd:element type="field" name="uid"/>
    <xsd:element type="field" name="unit"/>
    <xsd:element type="field" name="uri"/>
    <xsd:element type="field" name="user"/>
    <xsd:element type="field" name="uuid"/>
    <xsd:element type="field" name="val"/>
    <xsd:element type="field" name="ver"/>
    <xsd:element type="field" name="virt"/>
    <xsd:element type="field" name="vm"/>
    <xsd:element type="field" name="vm-ctx"/>
    <xsd:element type="field" name="vm-pid"/>
    <xsd:element type="field" name="watch"/>

    <!-- Generic fields -->
    <xsd:group name="generic_fields">
        <xsd:all>
            <xsd:element ref="a0" minOccurs="0"/>
            <xsd:element ref="a1" minOccurs="0"/>
            <xsd:element ref="a2" minOccurs="0"/>
            <xsd:element ref="a3" minOccurs="0"/>
            <xsd:element ref="acct" minOccurs="0"/>
            <xsd:element ref="acl" minOccurs="0"/>
            <xsd:element ref="action" minOccurs="0"/>
            <xsd:element ref="added" minOccurs="0"/>
            <xsd:element ref="addr" minOccurs="0"/>
            <xsd:element ref="algo" minOccurs="0"/>
            <xsd:element ref="apparmor" minOccurs="0"/>
            <xsd:element ref="arch" minOccurs="0"/>
            <xsd:element ref="argc" minOccurs="0"/>
            <xsd:element ref="audit_backlog_limit" minOccurs="0"/>
            <xsd:element ref="audit_backlog_wait_time" minOccurs="0"/>
            <xsd:element ref="audit_enabled" minOccurs="0"/>
            <xsd:element ref="audit_failure" minOccurs="0"/>
            <xsd:element ref="auid" minOccurs="0"/>
            <xsd:element ref="banners" minOccurs="0"/>
            <xsd:element ref="bool" minOccurs="0"/>
            <xsd:element ref="bus" minOccurs="0"/>
            <xsd:element ref="capability" minOccurs="0"/>
            <xsd:element ref="cap_fe" minOccurs="0"/>
            <xsd:element ref="cap_fi" minOccurs="0"/>
            <xsd:element ref="cap_fp" minOccurs="0"/>
            <xsd:element ref="cap_fver" minOccurs="0"/>
            <xsd:element ref="cap_pe" minOccurs="0"/>
            <xsd:element ref="cap_pi" minOccurs="0"/>
            <xsd:element ref="cap_pp" minOccurs="0"/>
            <xsd:element ref="category" minOccurs="0"/>
            <xsd:element ref="cgroup" minOccurs="0"/>
            <xsd:element ref="changed" minOccurs="0"/>
            <xsd:element ref="cipher" minOccurs="0"/>
            <xsd:element ref="class" minOccurs="0"/>
            <xsd:element ref="cmd" minOccurs="0"/>
            <xsd:element ref="code" minOccurs="0"/>
            <xsd:element ref="comm" minOccurs="0"/>
            <xsd:element ref="compat" minOccurs="0"/>
            <xsd:element ref="cwd" minOccurs="0"/>
            <xsd:element ref="daddr" minOccurs="0"/>
            <xsd:element ref="data" minOccurs="0"/>
            <xsd:element ref="default-context" minOccurs="0"/>
            <xsd:element ref="dest" minOccurs="0"/>
            <xsd:element ref="dev" minOccurs="0"/>
            <xsd:element ref="device" minOccurs="0"/>
            <xsd:element ref="dir" minOccurs="0"/>
            <xsd:element ref="direction" minOccurs="0"/>
            <xsd:element ref="dmac" minOccurs="0"/>
            <xsd:element ref="dport" minOccurs="0"/>
            <xsd:element ref="egid" minOccurs="0"/>
            <xsd:element ref="enforcing" minOccurs="0"/>
            <xsd:element ref="entries" minOccurs="0"/>
            <xsd:element ref="euid" minOccurs="0"/>
            <xsd:element ref="exe" minOccurs="0"/>
            <xsd:element ref="exit" minOccurs="0"/>
            <xsd:element ref="fam" minOccurs="0"/>
            <xsd:element ref="family" minOccurs="0"/>
            <xsd:element ref="fd" minOccurs="0"/>
            <xsd:element ref="fe" minOccurs="0"/>
            <xsd:element ref="feature" minOccurs="0"/>
            <xsd:element ref="fi" minOccurs="0"/>
            <xsd:element ref="file" minOccurs="0"/>
            <xsd:element ref="flags" minOccurs="0"/>
            <xsd:element ref="format" minOccurs="0"/>
            <xsd:element ref="fp" minOccurs="0"/>
            <xsd:element ref="fsgid" minOccurs="0"/>
            <xsd:element ref="fsuid" minOccurs="0"/>
            <xsd:element ref="fver" minOccurs="0"/>
            <xsd:element ref="gid" minOccurs="0"/>
            <xsd:element ref="grantors" minOccurs="0"/>
            <xsd:element ref="grp" minOccurs="0"/>
            <xsd:element ref="hook" minOccurs="0"/>
            <xsd:element ref="hostname" minOccurs="0"/>
            <xsd:element ref="icmp_type" minOccurs="0"/>
            <xsd:element ref="id" minOccurs="0"/>
            <xsd:element ref="igid" minOccurs="0"/>
            <xsd:element ref="img-ctx" minOccurs="0"/>
            <xsd:element ref="inif" minOccurs="0"/>
            <xsd:element ref="ino" minOccurs="0"/>
            <xsd:element ref="inode" minOccurs="0"/>
            <xsd:element ref="inode_gid" minOccurs="0"/>
            <xsd:element ref="inode_uid" minOccurs="0"/>
            <xsd:element ref="invalid_context" minOccurs="0"/>
            <xsd:element ref="ioctlcmd" minOccurs="0"/>
            <xsd:element ref="ip" minOccurs="0"/>
            <xsd:element ref="ipid" minOccurs="0"/>
            <xsd:element ref="ipx-net" minOccurs="0"/>
            <xsd:element ref="items" minOccurs="0"/>
            <xsd:element ref="iuid" minOccurs="0"/>
            <xsd:element ref="kernel" minOccurs="0"/>
            <xsd:element ref="key" minOccurs="0"/>
            <xsd:element ref="kind" minOccurs="0"/>
            <xsd:element ref="ksize" minOccurs="0"/>
            <xsd:element ref="laddr" minOccurs="0"/>
            <xsd:element ref="len" minOccurs="0"/>
            <xsd:element ref="list" minOccurs="0"/>
            <xsd:element ref="lport" minOccurs="0"/>
            <xsd:element ref="mac" minOccurs="0"/>
            <xsd:element ref="macproto" minOccurs="0"/>
            <xsd:element ref="maj" minOccurs="0"/>
            <xsd:element ref="major" minOccurs="0"/>
            <xsd:element ref="minor" minOccurs="0"/>
            <xsd:element ref="mode" minOccurs="0"/>
            <xsd:element ref="model" minOccurs="0"/>
            <xsd:element ref="msg" minOccurs="0"/>
            <xsd:element ref="name" minOccurs="0"/>
            <xsd:element ref="nametype" minOccurs="0"/>
            <xsd:element ref="nargs" minOccurs="0"/>
            <xsd:element ref="net" minOccurs="0"/>
            <xsd:element ref="new" minOccurs="0"/>
            <xsd:element ref="new-chardev" minOccurs="0"/>
            <xsd:element ref="new-disk" minOccurs="0"/>
            <xsd:element ref="new-enabled" minOccurs="0"/>
            <xsd:element ref="new-fs" minOccurs="0"/>
            <xsd:element ref="new_gid" minOccurs="0"/>
            <xsd:element ref="new-level" minOccurs="0"/>
            <xsd:element ref="new_lock" minOccurs="0"/>
            <xsd:element ref="new-log_passwd" minOccurs="0"/>
            <xsd:element ref="new-mem" minOccurs="0"/>
            <xsd:element ref="new-net" minOccurs="0"/>
            <xsd:element ref="new_pe" minOccurs="0"/>
            <xsd:element ref="new_pi" minOccurs="0"/>
            <xsd:element ref="new_pp" minOccurs="0"/>
            <xsd:element ref="new-range" minOccurs="0"/>
            <xsd:element ref="new-rng" minOccurs="0"/>
            <xsd:element ref="new-role" minOccurs="0"/>
            <xsd:element ref="new-seuser" minOccurs="0"/>
            <xsd:element ref="new-vcpu" minOccurs="0"/>
            <xsd:element ref="nlnk-fam" minOccurs="0"/>
            <xsd:element ref="nlnk-grp" minOccurs="0"/>
            <xsd:element ref="nlnk-pid" minOccurs="0"/>
            <xsd:element ref="oauid" minOccurs="0"/>
            <xsd:element ref="obj" minOccurs="0"/>
            <xsd:element ref="obj_gid" minOccurs="0"/>
            <xsd:element ref="obj_uid" minOccurs="0"/>
            <xsd:element ref="ocomm" minOccurs="0"/>
            <xsd:element ref="oflag" minOccurs="0"/>
            <xsd:element ref="ogid" minOccurs="0"/>
            <xsd:element ref="old" minOccurs="0"/>
            <xsd:element ref="old-auid" minOccurs="0"/>
            <xsd:element ref="old-chardev" minOccurs="0"/>
            <xsd:element ref="old-disk" minOccurs="0"/>
            <xsd:element ref="old-enabled" minOccurs="0"/>
            <xsd:element ref="old_enforcing" minOccurs="0"/>
            <xsd:element ref="old-fs" minOccurs="0"/>
            <xsd:element ref="old-level" minOccurs="0"/>
            <xsd:element ref="old_lock" minOccurs="0"/>
            <xsd:element ref="old-log_passwd" minOccurs="0"/>
            <xsd:element ref="old-mem" minOccurs="0"/>
            <xsd:element ref="old-net" minOccurs="0"/>
            <xsd:element ref="old_pe" minOccurs="0"/>
            <xsd:element ref="old_pi" minOccurs="0"/>
            <xsd:element ref="old_pp" minOccurs="0"/>
            <xsd:element ref="old_prom" minOccurs="0"/>
            <xsd:element ref="old-range" minOccurs="0"/>
            <xsd:element ref="old-rng" minOccurs="0"/>
            <xsd:element ref="old-role" minOccurs="0"/>
            <xsd:element ref="old-ses" minOccurs="0"/>
            <xsd:element ref="old-seuser" minOccurs="0"/>
            <xsd:element ref="old_val" minOccurs="0"/>
            <xsd:element ref="old-vcpu" minOccurs="0"/>
            <xsd:element ref="op" minOccurs="0"/>
            <xsd:element ref="opid" minOccurs="0"/>
            <xsd:element ref="oses" minOccurs="0"/>
            <xsd:element ref="ouid" minOccurs="0"/>
            <xsd:element ref="outif" minOccurs="0"/>
            <xsd:element ref="parent" minOccurs="0"/>
            <xsd:element ref="path" minOccurs="0"/>
            <xsd:element ref="per" minOccurs="0"/>
            <xsd:element ref="perm" minOccurs="0"/>
            <xsd:element ref="permissive" minOccurs="0"/>
            <xsd:element ref="perm_mask" minOccurs="0"/>
            <xsd:element ref="pfs" minOccurs="0"/>
            <xsd:element ref="pid" minOccurs="0"/>
            <xsd:element ref="ppid" minOccurs="0"/>
            <xsd:element ref="printer" minOccurs="0"/>
            <xsd:element ref="proctitle" minOccurs="0"/>
            <xsd:element ref="prom" minOccurs="0"/>
            <xsd:element ref="proto" minOccurs="0"/>
            <xsd:element ref="qbytes" minOccurs="0"/>
            <xsd:element ref="range" minOccurs="0"/>
            <xsd:element ref="rdev" minOccurs="0"/>
            <xsd:element ref="reason" minOccurs="0"/>
            <xsd:element ref="removed" minOccurs="0"/>
            <xsd:element ref="res" minOccurs="0"/>
            <xsd:element ref="resrc" minOccurs="0"/>
            <xsd:element ref="result" minOccurs="0"/>
            <xsd:element ref="role" minOccurs="0"/>
            <xsd:element ref="rport" minOccurs="0"/>
            <xsd:element ref="saddr" minOccurs="0"/>
            <xsd:element ref="sauid" minOccurs="0"/>
            <xsd:element ref="scontext" minOccurs="0"/>
            <xsd:element ref="selected-context" minOccurs="0"/>
            <xsd:element ref="seperm" minOccurs="0"/>
            <xsd:element ref="seperms" minOccurs="0"/>
            <xsd:element ref="seqno" minOccurs="0"/>
            <xsd:element ref="seresult" minOccurs="0"/>
            <xsd:element ref="ses" minOccurs="0"/>
            <xsd:element ref="seuser" minOccurs="0"/>
            <xsd:element ref="sgid" minOccurs="0"/>
            <xsd:element ref="sig" minOccurs="0"/>
            <xsd:element ref="sigev_signo" minOccurs="0"/>
            <xsd:element ref="size" minOccurs="0"/>
            <xsd:element ref="smac" minOccurs="0"/>
            <xsd:element ref="spid" minOccurs="0"/>
            <xsd:element ref="sport" minOccurs="0"/>
            <xsd:element ref="state" minOccurs="0"/>
            <xsd:element ref="subj" minOccurs="0"/>
            <xsd:element ref="success" minOccurs="0"/>
            <xsd:element ref="suid" minOccurs="0"/>
            <xsd:element ref="syscall" minOccurs="0"/>
            <xsd:element ref="table" minOccurs="0"/>
            <xsd:element ref="tclass" minOccurs="0"/>
            <xsd:element ref="tcontext" minOccurs="0"/>
            <xsd:element ref="terminal" minOccurs="0"/>
            <xsd:element ref="tty" minOccurs="0"/>
            <xsd:element ref="type" minOccurs="0"/>
            <xsd:element ref="uid" minOccurs="0"/>
            <xsd:element ref="unit" minOccurs="0"/>
            <xsd:element ref="uri" minOccurs="0"/>
            <xsd:element ref="user" minOccurs="0"/>
            <xsd:element ref="uuid" minOccurs="0"/>
            <xsd:element ref="val" minOccurs="0"/>
            <xsd:element ref="ver" minOccurs="0"/>
            <xsd:element ref="virt" minOccurs="0"/>
            <xsd:element ref="vm" minOccurs="0"/>
            <xsd:element ref="vm-ctx" minOccurs="0"/>
            <xsd:element ref="vm-pid" minOccurs="0"/>
            <xsd:element ref="watch" minOccurs="0"/>
        </xsd:all>
    </xsd:group>

    <!-- Single record type -->
    <xsd:complexType name="single_record">
        <xsd:group ref="generic_fields" minOccurs="0" maxOccurs="1"/>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- Repeated record type -->
    <xsd:complexType name="repeated_record">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:group ref="generic_fields"
                               minOccurs="0" maxOccurs="1"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- Execve record type -->
    <xsd:complexType name="execve_record">
        <xsd:sequence>
            <xsd:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="raw" type="xsd:string"/>
    </xsd:complexType>

    <!-- All records -->
    <xsd:group name="records">
        <xsd:all>
            <xsd:element type="single_record"       name="user" minOccurs="0"/>
            <xsd:element type="single_record"       name="login" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_auth" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_acct" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_mgmt" minOccurs="0"/>
            <xsd:element type="single_record"       name="cred_acq" minOccurs="0"/>
            <xsd:element type="single_record"       name="cred_disp" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_start" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_end" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_avc" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_chauthtok" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_err" minOccurs="0"/>
            <xsd:element type="single_record"       name="cred_refr" minOccurs="0"/>
            <xsd:element type="single_record"       name="usys_config" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_login" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_logout" minOccurs="0"/>
            <xsd:element type="single_record"       name="add_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="del_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="add_group" minOccurs="0"/>
            <xsd:element type="single_record"       name="del_group" minOccurs="0"/>
            <xsd:element type="single_record"       name="dac_check" minOccurs="0"/>
            <xsd:element type="single_record"       name="chgrp_id" minOccurs="0"/>
            <xsd:element type="single_record"       name="test" minOccurs="0"/>
            <xsd:element type="single_record"       name="trusted_app" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_selinux_err" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_cmd" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_tty" minOccurs="0"/>
            <xsd:element type="single_record"       name="chuser_id" minOccurs="0"/>
            <xsd:element type="single_record"       name="grp_auth" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_check" minOccurs="0"/>
            <xsd:element type="single_record"       name="acct_lock" minOccurs="0"/>
            <xsd:element type="single_record"       name="acct_unlock" minOccurs="0"/>
            <xsd:element type="single_record"       name="system_boot" minOccurs="0"/>
            <xsd:element type="single_record"       name="system_shutdown" minOccurs="0"/>
            <xsd:element type="single_record"       name="system_runlevel" minOccurs="0"/>
            <xsd:element type="single_record"       name="service_start" minOccurs="0"/>
            <xsd:element type="single_record"       name="service_stop" minOccurs="0"/>
            <xsd:element type="single_record"       name="grp_mgmt" minOccurs="0"/>
            <xsd:element type="single_record"       name="grp_chauthtok" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_start" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_end" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_abort" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_config" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_rotate" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_resume" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_accept" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_close" minOccurs="0"/>
            <xsd:element type="single_record"       name="daemon_err" minOccurs="0"/>
            <xsd:element type="single_record"       name="syscall" minOccurs="0"/>
            <xsd:element type="repeated_record"     name="path" minOccurs="0"/>
            <xsd:element type="single_record"       name="ipc" minOccurs="0"/>
            <xsd:element type="single_record"       name="socketcall" minOccurs="0"/>
            <xsd:element type="single_record"       name="config_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="sockaddr" minOccurs="0"/>
            <xsd:element type="single_record"       name="cwd" minOccurs="0"/>
            <xsd:element type="execve_record"       name="execve" minOccurs="0"/>
            <xsd:element type="single_record"       name="ipc_set_perm" minOccurs="0"/>
            <xsd:element type="single_record"       name="mq_open" minOccurs="0"/>
            <xsd:element type="single_record"       name="mq_sendrecv" minOccurs="0"/>
            <xsd:element type="single_record"       name="mq_notify" minOccurs="0"/>
            <xsd:element type="single_record"       name="mq_getsetattr" minOccurs="0"/>
            <xsd:element type="single_record"       name="kernel_other" minOccurs="0"/>
            <xsd:element type="single_record"       name="fd_pair" minOccurs="0"/>
            <xsd:element type="repeated_record"     name="obj_pid" minOccurs="0"/>
            <xsd:element type="single_record"       name="tty" minOccurs="0"/>
            <xsd:element type="single_record"       name="eoe" minOccurs="0"/>
            <xsd:element type="single_record"       name="bprm_fcaps" minOccurs="0"/>
            <xsd:element type="single_record"       name="capset" minOccurs="0"/>
            <xsd:element type="single_record"       name="mmap" minOccurs="0"/>
            <xsd:element type="single_record"       name="netfilter_pkt" minOccurs="0"/>
            <xsd:element type="single_record"       name="netfilter_cfg" minOccurs="0"/>
            <xsd:element type="single_record"       name="seccomp" minOccurs="0"/>
            <xsd:element type="single_record"       name="proctitle" minOccurs="0"/>
            <xsd:element type="single_record"       name="feature_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="avc" minOccurs="0"/>
            <xsd:element type="single_record"       name="selinux_err" minOccurs="0"/>
            <xsd:element type="single_record"       name="avc_path" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_policy_load" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_status" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_config_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_unlbl_allow" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_cipsov4_add" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_cipsov4_del" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_map_add" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_map_del" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_ipsec_addsa" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_ipsec_delsa" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_ipsec_addspd" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_ipsec_delspd" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_ipsec_event" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_unlbl_stcadd" minOccurs="0"/>
            <xsd:element type="single_record"       name="mac_unlbl_stcdel" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_promiscuous" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_abend" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_link" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_data" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_metadata" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_status" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_hash" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_pcr" minOccurs="0"/>
            <xsd:element type="single_record"       name="integrity_rule" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_audit" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_allowed" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_denied" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_hint" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_status" minOccurs="0"/>
            <xsd:element type="single_record"       name="apparmor_error" minOccurs="0"/>
            <xsd:element type="single_record"       name="kernel" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_login_failures" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_login_time" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_login_sessions" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_login_acct" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_login_location" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_max_dac" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_max_mac" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_amtu_fail" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_rbac_fail" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_rbac_integrity_fail" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_crypto_fail" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_access_fs" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_exec" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_mk_exec" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_add_acct" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_del_acct" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_mod_acct" minOccurs="0"/>
            <xsd:element type="single_record"       name="anom_root_trans" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_anomaly" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_alert" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_kill_proc" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_term_access" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_acct_remote" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_acct_lock_timed" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_acct_unlock_timed" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_acct_lock" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_term_lock" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_sebool" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_exec" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_single" minOccurs="0"/>
            <xsd:element type="single_record"       name="resp_halt" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_role_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="role_assign" minOccurs="0"/>
            <xsd:element type="single_record"       name="role_remove" minOccurs="0"/>
            <xsd:element type="single_record"       name="label_override" minOccurs="0"/>
            <xsd:element type="single_record"       name="label_level_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_labeled_export" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_unlabeled_export" minOccurs="0"/>
            <xsd:element type="single_record"       name="dev_alloc" minOccurs="0"/>
            <xsd:element type="single_record"       name="dev_dealloc" minOccurs="0"/>
            <xsd:element type="single_record"       name="fs_relabel" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_mac_policy_load" minOccurs="0"/>
            <xsd:element type="single_record"       name="role_modify" minOccurs="0"/>
            <xsd:element type="single_record"       name="user_mac_config_change" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_test_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_param_change_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_login" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_logout" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_key_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_failure_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_replay_user" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_session" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_ike_sa" minOccurs="0"/>
            <xsd:element type="single_record"       name="crypto_ipsec_sa" minOccurs="0"/>
            <xsd:element type="single_record"       name="virt_control" minOccurs="0"/>
            <xsd:element type="single_record"       name="virt_resource" minOccurs="0"/>
            <xsd:element type="single_record"       name="virt_machine_id" minOccurs="0"/>
        </xsd:all>
    </xsd:group>

    <!-- Event -->
    <xsd:simpleType name="serial">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="1" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="event">
        <xsd:complexType>
            <xsd:group ref="records" minOccurs="0" maxOccurs="1"/>
            <xsd:attribute name="serial" type="serial" use="required"/>
            <xsd:attribute name="time" type="xsd:dateTime" use="required"/>
            <xsd:attribute name="host" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

    <!-- Log -->
    <xsd:element name="log">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="event"
                             minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
